::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(144, 147, 153, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144, 147, 153, 0.5);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide:hover::-webkit-scrollbar {
  display: block;
}

.scrollbar-hide {
  padding-right: 6px;
}

.scrollbar-hide:hover {
  padding-right: 0;
}
