::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(144 147 153 / 30%);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(144 147 153 / 50%);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide:hover::-webkit-scrollbar {
  display: block;
}

.scrollbar-hide {
  padding-right: 6px;
}

.scrollbar-hide:hover {
  padding-right: 0;
}

.el-dialog__body {
  max-height: 70vh;
  overflow: hidden auto;
}

.no-footer-dialog .el-dialog__body {
  max-height: 73vh !important;
}

.last-not-margin-right-form .el-form-item:last-child {
  margin-right: 0;
}
